
body{
  background: #000;
  font-family: tahoma;
  font-size: 60px;
}
h1{
  color: #fff;
  text-align: center;
  font-size: 100%;
  letter-spacing: 10px;
}
#del-countdown{
  width: 850px;
  margin: 15% auto;
}
#clock span{
  float: left;
  text-align: center;
  font-size: 90%;
  margin: 0 2.5%;
  color: #fff;
  padding: 20px;
  width: 20%;
  box-sizing: border-box;
}
#clock:after{
  content: "";
  display: block;
  clear: both;
}
#units span{
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 30px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgba(10,10,10, 0.7);
}
